/* You can add global styles to this file, and also import other style files */
.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 25px;
  height: 25px;
  border-radius: 20px;
  padding: 4px;
  background-color: green;
}
