<div>
    <table>
        <tr>
            <td>
                <div id="image-div" (mousedown)="InitialXY($event)" (mouseup)="FinalXY($event)">
                    <canvas id="myCanvas" #myCanvas width="768" height="1024"></canvas>
                </div>
            </td>
            <td style="vertical-align: top">

              <ol>
                <li *ngFor="let lbl of lblList">
                  {{lbl.lblText}}
                </li>
              </ol>
            </td>
        </tr>
    </table>
  </div>
