<div>
    <table>
        <tr>
            <td>
                <div id="image-div" (mousedown)="InitialXY($event)" (mouseup)="FinalXY($event)">
                    <canvas id="myCanvas" #myCanvas height='950' width='600'></canvas>
                </div>
            </td>
            <td style="vertical-align: top">
              {{lblList}}
              {{barcode}}
              <ol>
                <li *ngFor="let lbl of lblList">
                  {{lbl.lblText}}
                </li>
              </ol>
              <button >Generate Template</button>

            </td>
        </tr>
    </table>
  </div>
